<div class="row m-t-20 bordered">
    <div class="col-md-24">
        Sender: {{ $ctrl.message.sender.email }}
    </div>
    <div class="col-md-24" style="display: inline-block;">
        Receivers: &nbsp;
        <span  ng-repeat="item in $ctrl.message.receivers">
            {{ item.email }}<span ng-if="!$last">, </span>
        </span>

    </div>
    <div class="col-md-24">
        {{ $ctrl.message.subject }}
    </div>
    <div class="col-md-24">
        {{ $ctrl.message.text }}
    </div>
    <div class="col-md-24" ng-repeat="file in $ctrl.message.files">
        <a href="/api/file/download/{{ file.token }}" target="_blank">Download {{ file.name }}</a>
    </div>
</div>
<div class="row m-t-20 bordered m-t-5" ng-show="!$ctrl.message.is_draft">
        <div class="col-md-24">
            <div class="form-group form-textarea">
                <div id="summernote">
                    <summernote
                        ng-model="$ctrl.reply.text"
                    >
                    </summernote>
                </div>
            </div><!-- form-group form-textarea -->
            <ul ng-if="$ctrl.errors.text" class="form-errors">
                <li ng-repeat="error in $ctrl.errors.text">
                    <label class="error" ng-bind="::error"></label>
                </li>
            </ul><!-- errors -->
        </div>
        <div class="col-md-2 col-md-offset-22">
            <button ng-click="$ctrl.sendReply()" class="btn btn-success">Send</button>
        </div>
    <upload-file
        files="$ctrl.reply.files"
    ></upload-file>
</div>