<div class="m-list">
    <div class="m-list__heading">
        <div class="m-list__title">
            {{ stateData.title }}
        </div><!-- m-list__title -->
        <div class="m-list__controls">
            <button ng-if="stateData.urlAdd" class="btn btn-rounded btn-primary hidden-xs" type="button"
                    ui-sref="{{ stateData.urlAdd }}">+Add new item
            </button>
            <button ng-if="stateData.urlAdd" class="mobile-btn-round visible-xs" type="button"
                    ui-sref="{{ stateData.urlAdd }}">&plus;
            </button>
            <a ng-if="stateData.exportUrl" class="btn btn-rounded btn-primary m-b-20"
               href="{{ $root.exportUrl }}" target="_self">
                <i class="fa fa-upload m-r-5" aria-hidden="true"></i>
                <span> Export to .CSV</span>
            </a>
        </div><!-- m-list__controls -->
    </div><!-- m-list -->
    <div class="m-list__content">
        <!--item page-->
        <form ng-submit="changeItem();" name="form" novalidate>
            <div ui-view="form"></div>
            <div ui-view="form_create"></div>
        </form>
        <div ui-view="spec_form_create"></div>

        <!--include template with list filters-->
        <div ui-view="listFilters"></div>

        <!--include template with column names-->
        <div ui-view="listHeaders"></div>

        <!--list page-->
        <!--product categories template for product page-->

        <div ui-view="listSide"></div>

        <!--include template with items-->
        <div ui-view="listItems"></div>

    </div><!-- panel-body p-t-20 -->
</div><!-- panel panel-default -->

